{% extends "base.html" %}

{% block title %}Atmakuri Davidsen Family{% endblock %}

{% block content %}
  <div id="overlay">
    <img src="/static/family.png" alt="Family">
    <div class="content">
      <h1>Atmakuri Davidsen<br>family web-site</h1>
      <a href="https://www.flickr.com/photos/sorend">All albums</a>
      <a href="https://www.youtube.com/channel/UCPA_5p59ljYI6mBDHpwpqcA">All videos</a>
      <a href="https://www.vimeo.com/sorend/videos">(Older videos)</a>
    </div>
  </div>
  <div id="feed"
       hx-get="/feed.html"
       hx-trigger="load"
       hx-indicator="#loading">
    <span id="loading">Loading ...</span>
  </div>
  <div style="clear:both;"></div>
  <div id="links"></div>
  <p style="text-align: right; color:#999;">
    Copyright &copy; 2010-2026 Atmakuri Davidsen
  </p>
{% endblock %}
